.logd
{
	background: ;
	text-align: center;
}
.bla
{
	background: ;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.buttons
{
	background: ;
	height: 50px;
	width: 100%;
	border: 2px solid black;
	color: #1F2833;
	margin-bottom: 5px;
	margin-top: 15px;
	font-weight: bold;

}


#Connect-button
{
	background: #22c7e8;
}
#Connect-input
{
	background: #1F2833;
	color: #42f4bf;
	border-color: #22c7e8;
	text-align: center;
}
#Create-button
{
	background: #42f4bf;
}
#Logout-button
{
	background: #fc5d5d;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #42f4bf;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #42f4bf;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #42f4bf;
}
:-moz-placeholder { /* Firefox 18- */
  color: #42f4bf;
}